<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css">
    <title><%= post.title %></title>
  </head>
  <body>
    <%- include('./navbar') %> 
    <div style="width: 50em;background-color: white; border: .1px solid grey" class="mx-auto mt-5 p-5 is-flex is-flex-direction-column is-justify-content-center">
      <div
          class="pr-4 pl-2 mb-4 py-2  is-flex post"
          style='background-color: rgba(219, 214, 214, 0.404); border: 2px solid grey'
        >
          <div class="mr-2">
            <div class="is-flex is-flex-direction-column is-align-items-center">
              <div>
                <a class='vote' href='/r/<%= post.subreddit.name %>/posts/<%= post._id %>/upvote'>
                <span class="material-icons"> expand_less </span>
                </a>
              </div>
              <div style="margin-top: -5px"><span><% if(post.upvotes != 0 && !post.upvotes){ post.upvotes = 0} if(post.downvotes != 0 && !post.downvotes){post.downvotes=0} %><%= post.upvotes - post.downvotes %> </span></div>
              <div>
              <a class='vote' href='/r/<%= post.subreddit.name %>/posts/<%= post._id %>/downvote'>
                <span class="material-icons"> expand_more </span></div>
              </a>

            </div>
          </div>
          <div>
            <div>
              <sub style="color: lightslategrey">posted by test123</sub>
            </div>
            <div>
              <a href="/r/<%= post.subreddit.name %>/posts/<%= post._id %>">
                <h3 class="subtitle is-5 m-1" style="color: rgb(119, 119, 119)">
                  <%= post.title %>
                </h3>
              </a>
              <p>
                <%= post.body %>
              </p>
            </div>
            <div class="is-flex mt-2">
              <div class="cmnt p-1 mr-3 is-flex is-align-items-center">
                <span style='color: grey' class="material-icons mt-1 mr-1"> comment </span>
                <a href="">Comments</a>
              </div>
              <div class="cmnt p-1 mr-3 is-flex is-align-items-center">
                <span style='color: grey' class="material-icons mt-1 mr-1"> share </span>
                <a href="">Share</a>
              </div>
              <div class="cmnt p-1 mr-3 is-flex is-align-items-center">
                <span style='color: grey' class="material-icons mt-1 mr-1"> bookmark </span>
                <a href="">Save</a>
              </div>
            </div>
          </div>
        </div>

        <div class="p-4" >
          <form action="/r/<%= post.subreddit.name %>/posts/<%= post._id %>/comments/new" method="POST">
            <textarea name="body" id="" cols="10" class='textarea search' placeholder="Write Your Thoughts here.." rows="5"></textarea>
            <button class='button mt-2 is-info is-outlined'>Post</button>
          </form>        </div>

          <div class="mt-3 p-3" >
          <% for(var comment of post.comments){ %> 
          <div
          class="pr-4 pl-2 mb-4 py-2 is-flex post"
          style="background-color: white;  border: 0.1px solid grey; "
        >
          <div class="mr-2">
            <div class="is-flex is-flex-direction-column is-align-items-center">
              <div>
                <a class='vote' href='/r/<%= post.subreddit.name %>/posts/<%= post._id %>/comments/<%= comment._id %>/upvote'>
                <span class="material-icons"> expand_less </span>
                </a>
              </div>
              <div style="margin-top: -5px"><span><% if(comment.upvotes != 0 && !comment.upvotes){ comment.upvotes = 0} if(comment.downvotes != 0 && !comment.downvotes){comment.downvotes=0} %> <%= comment.upvotes - comment.downvotes %> </span></div>
              <div>
              <a class='vote' href='/r/<%= post.subreddit.name %>/posts/<%= post._id %>/comments/<%= comment._id %>/downvote'>
                <span class="material-icons"> expand_more </span></div>
              </a>

            </div>
          </div>
          <div>
            <div>
              <sub style="color: lightslategrey">comment by test123</sub>
            </div>
            <div>
              
              <p>
                <%= comment.body %>
              </p>
            </div>
            <div class="is-flex mt-2">
              <div class="cmnt p-1 mr-3 is-flex is-align-items-center">
                <span style='color: grey' class="material-icons mt-1 mr-1"> comment </span>
                <a href="">Comments</a>
              </div>
              <div class="cmnt p-1 mr-3 is-flex is-align-items-center">
                <span style='color: grey' class="material-icons mt-1 mr-1"> share </span>
                <a href="">Share</a>
              </div>
              <div class="cmnt p-1 mr-3 is-flex is-align-items-center">
                <span style='color: grey' class="material-icons mt-1 mr-1"> bookmark </span>
                <a href="">Save</a>
              </div>
            </div>
          </div>
        </div>
        <% } %> 
      </div>
    </div>

    <a href="/r/<%= post.subreddit.name %>/posts/<%= post._id %>/delete">Delete</a>

    
    
  </body>
</html>
